<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<div class="card border-secondary mb-3 trip-crud" style="max-width: 18rem;">
    <div class="card-header">
        Delete Station
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="id">Station ID</label>
                <input type="number" class="form-control" id="id" aria-describedby="emailHelp"
                    placeholder="Enter Station ID">
            </div>
            <div class="form-buttun">
                <button type="submit" class="btn btn-primary" (click)='deleteStation()'>Delete Station</button>
            </div>
        </form>
    </div>
</div>