<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<div class="card">
    <div class="card-header">
        Stations
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>filtered by: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Station ID</th>
                        <th>Station Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let station of stations">
                        <td>{{station.stationId}}</td>
                        <td>{{station.stationName}}</td>
                        <td class="delete"><button class='btn btn-light' (click)='deleteItem()'>
                                <i class="fas delete fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>