<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<div class="card border-secondary mb-3 trip-crud" style="max-width: 18rem;">
    <div class="card-header">
        Update Station
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="id">Station ID</label>
                <input type="number" class="form-control" id="id" aria-describedby="emailHelp"
                    placeholder="Enter Station ID">
            </div>
            <div class="form-group">
                <label for="stationName">Station Name</label>
                <input type="datetime" class="form-control" id="stationName" placeholder="Station Name">
            </div>
            <div class="form-group">
                <label for="longitude">Station Longitude</label>
                <input type="string" class="form-control" id="longitude" placeholder="Station Longitude">
            </div>
            <div class="form-group">
                <label for="latitude">Station Latitude</label>
                <input type="string" class="form-control" id="latitude" placeholder="Station Latitude">
            </div>
            <div class="form-buttun">
                <button type="submit" class="btn btn-primary" (click)='updateStation()'>Update Station</button>
            </div>
        </form>
    </div>
</div>