<head>
    <link rel="stylesheet" href="signin.component.css" type="text/css">
    <title>Sign In</title>
</head>

<div class="container">
    <div class="regContainer">
        <h1>Sign In</h1>
        <p>Please fill in this form to sign in to your account.</p>
    </div>
    <form name="registration" class="registartion-form" onsubmit="return formValidation()">
        <table>
            <tr>
                <td><label for="username">User Name:</label></td>
                <td><input type="text" name="username" id="username" placeholder="john_example"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password" id="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="submit" value="Sign In" /></td>
            </tr>
            <tr>
                <td class="sign" colspan="2"><h3>Don't have an account? <a href="signup">Sign Up</a> instead</h3></td>
            </tr>
        </table>
    </form>
</div>

<body>
    <script type="text/javascript" src="signin.component.ts"></script>
</body>